<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Scraper - Chris Homsey</title>
    <link rel="stylesheet" type="text/css" href="./semantic/semantic.min.css">
	<link rel="stylesheet" href="./assets/css/style.css" type="text/css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	<script src="./semantic/semantic.min.js"></script>
</head>
<body>

<div class="ui inverted vertical center aligned segment" id="jumbotron" style="background-image: url('./assets/img/bg.jpg');">

    <div class="ui basic inverted borderless secondary pointing menu" id="nav">
        
        <div class="header item mobile only">
            <i class="ui newspaper icon"></i>Mongo Scraper!
        </div>
        <a class="item {{#if activeHome}}active{{/if}}" href="/">
            Home
        </a>
        <a class="item {{#if activeSaved}}active{{/if}}" href="/saved">
            Saved Articles
            <div class="ui tiny red label" id="saved-num"></div>
        </a>
        <div class="right menu">
            {{#if activeHome}}
            <a href="/api/scrape" class="item scrape-btn">
                <i class="ui plus icon"></i>
                Scrape New Articles
            </a>
            {{/if}}
        </div>
    </div>

    <h1 class="ui header">
        FLORIDA MAN
        <div class="ui blue sub header">Worst Superhero Ever</div>
    </h1>
    

</div>

{{{body}}}



</body>
</html>