<div class="ui container">
    <div class="ui four column stackable grid" id="feed">
        
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <a class="header">Florida Man Throws Alligator Into Drivethrough Window</a>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                    <p>Blah blah blah blah blah blah blah blah</p>
                    </div>
                </div>
                <div class="ui small bottom attached red button">
                    <i class="minus icon"></i>
                    Remove From Saved
                </div>    
            </div>
        </div>

    </div>
</div>