body {
    background-image: url('../img/round.png');
}

.menu {
    margin-bottom: 0px;
    border: 0px;
}

#nav {
    background-color: rgba(0,0,0,.23);
}

#jumbotron {
    padding-top: 0px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;
}

#feed {
    margin-top: -40px;
}